@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<header class="control-panel">
    <a href="/Home/Index" class="tile">
        <i class="fas fa-bars"></i>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1 class="banner">Fric-frac</h1>
</header>

<section class="show-room index">
    <a class="tile" href="/Person/Index">
        <i class="fas fa-users"></i>
        <span class="screen-reader-text">Index Personen</span>
        <h1>Index Personen</h1>
    </a>
    <a class="tile" href="/Country/Index">
        <i class="fas fa-globe-africa"></i>
        <span class="screen-reader-text">Index Landen</span>
        <h1>Index Landen</h1>
    </a>
    <div class="tile">Informatieve Tegel</div>
    <div class="tile">Informatieve Tegel</div>
    <a class="tile" href="/Role/Index">
        <i class="fas fa-user-tag"></i>
        <span class="screen-reader-text">Index Rollen</span>
        <h1>Index Rollen</h1>
    </a>
    <a class="tile" href="/User/Index">
        <i class="fas fa-users"></i>
        <span class="screen-reader-text">Index Gebruikers</span>
        <h1>Index Gebruikers</h1>
    </a>
    <div class="tile">Informatieve Tegel</div>
    <a class="tile" href="/Event/Index">
        <i class="fas fa-bolt"></i>
        <span class="screen-reader-text">Index Events</span>
        <h1>Index Events</h1>
    </a>
    <a class="tile" href="/EventCategory/Index">
        <i class="fas fa-cat"></i>
        <span class="screen-reader-text">Index Eventcategorieën</span>
        <h1>Index Eventcategorieën</h1>
    </a>
    <a class="tile" href="/EventTopic/Index">
        <i class="fas fa-book"></i>
        <span class="screen-reader-text">Index Eventtopics</span>
        <h1>Index Eventtopics</h1>
    </a>
    <a class="tile" href="/Venue/Index">
        <i class="fas fa-users"></i>
        <span class="screen-reader-text">Index Venues</span>
        <h1>Index Venues</h1>
    </a>
    <div class="tile">Informatieve Tegel</div>
    
</section>