<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="~/css/app.css">
    <!--<link type="text/css" rel="stylesheet" href="~/css/iconfont.css">-->
    <script src="https://kit.fontawesome.com/4d7bd3d0e8.js" crossorigin="anonymous"></script>
</head>
<body class="tower">
    <main class="floor index">
        @RenderBody()
    </main>
    <footer>
        <p><a href="/Admin/Index">Beheer</a></p> <div class="vcard">
        <p class="copy">concept & design - Red Mind 2017-2018</p>
            <h3>Contact</h3> <p class="fn org">a n<span>orm</span> apart</p>
            <div class="adr">
                <div class="street-address">Braziliëstraat 38</div>
                <div class="postal-code">2000</div> <div class="locality">Antwerpen</div>
                <div class="country-name">België</div>
            </div>
        </div>
    </footer>
</body>
</html>