@model Fric_frac.Models.FricFrac.Eventtopic

@{
    ViewData["Title"] = "ReadingOne";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<nav class="control-panel">
    <a href="/Home/Index" class="tile">
        <i class="fas fa-bars"></i>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1 class="banner">Fric-frac</h1>
</nav>


<form class="show-room entity" action="/Eventtopic/InsertOne" method="post">


    <div class="detail">


        <div class="command-panel">
            <h2 class="banner">Eventtopic</h2>
            <a href="/Eventtopic/UpdatingOne/@Model.Id" class="tile">
                <i class="fas fa-edit"></i>
                <span class="screen-reader-text">Updating One</span>
            </a>
            <a href="/Eventtopic/InsertingOne" class="tile">
                <i class="fas fa-plus-square"></i>
                <span class="screen-reader-text">Inserting One</span>
            </a>
            <a href="/Eventtopic/DeleteOne/@Model.Id" class="tile">
                <i class="fas fa-trash-alt"></i>
                <span class="screen-reader-text">Delete One</span>
            </a>
            <a href="/Eventtopic/Cancel" class="tile">
                <i class="fas fa-window-close"></i>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>

        <fieldset>
            <div>
                <label for="Eventtopic-Name">Naam</label>
                <input id="Eventtopic-Name" name="Eventtopic-Name" type="text" value="@Model.Name" readonly>
            </div>

        </fieldset>

    </div>
    <div class="feedback"></div>

    <aside class="list">
        <table>
            <tbody>
                @foreach (var item in ViewBag.EventTopics)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>

                        <td>
                            <a href="/Eventtopic/ReadingOne/@item.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </aside>
</form>