@model List<Fric_frac.Models.FricFrac.Person>

@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<nav class="control-panel">
    <a href="/Home/Index" class="tile">
        <i class="fas fa-bars"></i>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1 class="banner">Fric-frac</h1>
</nav>
<form class="show-room entity" action="/Person/Index" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Persoon</h2>
            <a href="/Person/InsertingOne" class="tile">
                <i class="fas fa-folder-plus"></i>
                <span class="screen-reader-text">InsertingOne</span>
            </a>
        </div>
        <fieldset>

            <table>
                @*<tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @item.FirstName
                        </td>

                        <td>
                            @item.LastName
                        </td>


                        <td>
                            <a href="/Person/ReadingOne/@item.Id">Details</a>
                        </td>
                    </tr>
                    }
                </tbody>*@
            </table>


        </fieldset>
        <div class="feedback">
        </div>
    </div>
    <aside class="list">
        <table>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.FirstName
                        </td>

                        <td>
                            @item.LastName
                        </td>


                        <td>
                            <a href="/Person/ReadingOne/@item.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </aside>
</form>