@model Fric_frac.Models.FricFrac.Country
@{
    ViewData["Title"] = "InsertingOne";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<nav class="control-panel">
    <a href="/Home/Index" class="tile">
        <i class="fas fa-bars"></i>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1 class="banner">Fric-frac</h1>
</nav>


<form class="show-room entity" action="/Country/InsertOne" method="post">


    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Country</h2>

            <button type="submit" value="/Country/InsertOne" class="tile">
                <i class="fas fa-folder-plus"></i>
                <span class="screen-reader-text">Insert One</span>
            </button>


            <a href="/Country/Cancel" class="tile">
                <i class="fas fa-window-close"></i>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>

        <fieldset>
            <div>
                <label for="Country-Name">Naam</label>
                <input id="Country-Name" name="Country-Name" type="text" value="" required />
            </div>
            <div>
                <label for="Country-Code">Code</label>
                <input id="Country-Code" name="Country-Code" type="text" value="" required />
            </div>
            <div>
                <label for="Country-Desc">Desc</label>
                <textarea id="Country-Desc" name="Country-Desc"></textarea>
            </div>

        </fieldset>
    </div>
    <aside class="list">
        <table>
            <tbody>
                @foreach (var item in ViewBag.Countries)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Code
                        </td>
                        <td>
                            <a href="/Country/ReadingOne/@item.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </aside>
</form>