
@model Fric_frac.Models.FricFrac.Eventcategory

@{
    ViewData["Title"] = "UpdatingOne";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<nav class="control-panel">
    <a href="/Home/Index" class="tile _14x1">
        <i class="fas fa-bars"></i>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1 class="banner">Fric-frac</h1>
</nav>


<form class="show-room entity" action="/Eventcategory/UpdateOne" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Event Category</h2>
            <button type="submit" class="tile">
                <i class="fas fa-save"></i>
                <span class="screen-reader-text">Update One</span>
            </button>
            <a href="/Eventcategory/Cancel" class="tile">
                <i class="fas fa-undo"></i>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
            <input type="hidden" id="Eventcategory-Id" name="Eventcategory-Id" value="@Model.Id" />
            <div>
                <label for="Eventcategory-Name">Naam</label>
                <input id="Eventcategory-Name" name="Eventcategory-Name" type="text" value="@Model.Name" required />
            </div>

        </fieldset>
    </div>
    <aside class="list">
        <table>
            <tbody>
                @foreach (var item in ViewBag.EventCategories)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>

                        <td>
                            <a href="/Eventcategory/ReadingOne/@item.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </aside>
</form>